@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}
.container1 {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container1 {
    width: 1350px;
    margin: 0 auto;
  }
}


/* 
<section className=" w-full grid grid-cols-4 gap-5">
      {data.map((value) => (
        <div key={value.id}>
          <img
            className="w-[320px] h-[380px] rounded-xl"
            src={value.image}
            alt=""
          />
          <div className="flex flex-col gap-6">
            <div className="flex flex-col gap-1">
              <h2 className="text-[#1f2026] text-[14px]">
                {value.title.slice(0, 60) + "..."}
              </h2>
              <div className="flex items-center gap-1">
                <i className="fa-solid text-sm text-[#FFB54C] fa-star"></i>
                <div className="flex items-center gap-[3px] text-[#7e818c] text-[12px] font-light">
                  <p>{value.rating}</p>
                  <p>({value.reviews} sharhlar) </p>
                </div>
              </div>
              <h1 className="text-[#1f1f26] rounded-sm text-[12px] bg-[#ff0] w-fit px-1 py-[2px] cursor-pointer">
                {value.monthlyPrice}
              </h1>
            </div>
            <div className="flex items-center justify-between">
              <div>
                <p className="text-[#7e818c] text-[11px] line-through">
                  {value.oldPrice.toLocaleString("ru-RU")}
                </p>
                <p className="text-[#1f2026] text-sm">
                  {value.currentPrice.toLocaleString("ru-RU") + "so'm"}
                </p>
              </div>
              <img className="cursor-pointer" src={button} alt="" />
            </div>
          </div>
        </div>
      ))}
    </section>



*/